<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>MVC With Burgers!</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	 crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
	 crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
	 crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>		
		{{{ body }}}

	</div>
	<script>

		// Make sure we wait to attach our handlers until the DOM is fully loaded.
		$(function () {
			$(".change-eaten").on("click", function (event) {
				var id = $(this).data("id");
				var newEaten = $(this).data("neweaten");

				var newEatenState = {
					eaten: newEaten
				};

				// Send the PUT request.
				$.ajax("/api/burgers/" + id, {
					type: "PUT",
					data: newEatenState
				}).then(
					function () {
						console.log("changed eaten to", newEaten);
						// Reload the page to get the updated list
						location.reload();
					}
				);
			});

			$(".create-form").on("submit", function (event) {
				// Make sure to preventDefault on a submit event.
				event.preventDefault();

				var newBurger = {
					name: $("#burger").val().trim(),
					eaten: $("[name=eaten]:checked").val().trim()
				};

				// Send the POST request.
				$.ajax("/api/burgers", {
					type: "POST",
					data: newBurger
				}).then(
					function () {
						console.log("created new burger");
						// Reload the page to get the updated list
						location.reload();
					}
				);
			});

			$(".delete-burger").on("click", function (event) {
				var id = $(this).data("id");

				// Send the DELETE request.
				$.ajax("/api/burgers/" + id, {
					type: "DELETE"
				}).then(
					function () {
						console.log("deleted burger", id);
						// Reload the page to get the updated list
						location.reload();
					}
				);
			});
		});

	</script>
</body>

</html>